@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 80vw;
  margin: 2rem auto;
}
div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: slategray solid 1px;
}

h1 {
  color: darkslategray;
  margin-bottom: 1rem;
}

span {
  font-size: xx-large;
  color: navy;
}

p {
  font-family: sans-serif;
  padding: 1rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  border: darkslategrey solid 1px;
  border-radius: 4px;
}

.btn {
  cursor: pointer;
  background-color: darkslategray;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: gray;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  background-color: cadetblue;
  color: white;
}

button:hover {
  background-color: darkslategrey;
}
